:root {
    --black: black;
    --lime: #01FF70;
    --maroon: #85144b;
    --navy: #001f3f;
    --yellow: #FFDC00;
    --red: #FF4136;
    --olive: #3D9970;
    --purple: #2e2459;
    --white: white;
}

body {
    font-family: 'Lato', sans-serif;
     margin: 0;
}

h1, h2, h3 {
    font-family: 'Alfa Slab One', cursive;
}

p, li {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

a {
    color: var(--white);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
}

.navbar__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 1.5rem;
    font-size: 1.5rem;
}

.navbar__logo {
    width: 60px;
}

.navbar__items {
    flex: 1;
    display: none;
    justify-content: flex-end;
}

.navbar__item {
    margin: 0 1.2rem;
}

.navbar__item:last-of-type {
    margin-right: 1.5rem;
}

.navbar__item-text {
    position: relative;
    z-index: 100;
    font-size: 1.1rem;
    color: var(--black);
    text-decoration: none;
}

.navbar__item-highlight {
    position: relative;
    height: 1rem;
    top: -0.7rem;
    left: -0.5rem;
    background: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-section__container {
    display: flex;
    flex: 1;
    justify-content: center;
    background: var(--white);
    color: var(--black);
    padding: 1.5rem 0 3rem;
}

.info-section__container--maroon {
    background: var(--maroon);
    color: var(--white);
}

.info-section__container--yellow {
    background: var(--yellow);
    color: var(--navy);
}

.info-section__container--olive {
    background: var(--olive);
    color: var(--white);
}

.info-section {
    max-width: 1152px;
    width: 100%;
}

.info-section__header {
    position: relative;
    z-index: 100;
}

.info-section__highlight {
    position: relative;
    height: 1rem;
    top: -2rem;
    left: -0.5rem;
    background: var(--yellow);
}

.info-section__container--maroon .info-section__highlight {
    background: var(--navy);
}

.info-section__container--yellow .info-section__highlight {
    background: var(--maroon);
}

.info-section__container--olive .info-section__highlight {
    background: var(--purple);
}

.hero {
    padding: 3rem 0 5rem;
}

.safe-the-date {
    font-size: 3rem;
}

.button {
    display: flex;
    justify-content: center;
    line-height: 3rem;
    background-color: var(--maroon);
    border: 1px solid transparent;
    color: var(--white);
    border-radius: 0.3rem;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.05rem;
}

.button:hover {
    border: 1px solid var(--white);
}

.info-section__container .button {
    float: right;
}

.info-section__row {
    display: grid;
}

.info-section__column {
    text-align: justify;
}

@media screen and (min-width: 600px) {
    .info-section__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .button {
        width: 20vw;
    }

    .info-section__header-container {
        width: max-content;
    }

    .navbar__brand{
        justify-content: flex-start;
        flex-grow: 0;
    }

    .navbar__items {
        display: flex;
    }

    .info-section__highlight {
        width: calc(100% + 1rem);
    }
}